@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fastup";
  src: url("/src/fonts/fastup/Fastup-Regular.ttf");
}

.fastup {
  font-family: "fastup";
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
